<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>British</string>
	<key>CFBundleIdentifier</key>
	<string>com.gingerbeardman.dictionary.Emojipedia</string>
	<key>CFBundleName</key>
	<string>Emojipedia</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>DCSDictionaryCopyright</key>
	<string>All emoji names are official character names and codepoints as part of the Unicode Standard. Additional descriptions are copyright © Emojipedia. Emoji character artwork and copyright belong to their respective font creators.</string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict>
		<key>version</key>
		<string>20160717</string>
	</dict>
	<key>DCSDictionaryManufacturerName</key>
	<string>Matt Sephton https://github.com/gingerbeardman/Emojipedia/</string>
	<key>DCSDictionaryLanguages</key>
	<array>
		<dict>
			<key>DCSDictionaryIndexLanguage</key>
			<string>en</string>
			<key>DCSDictionaryDescriptionLanguage</key>
			<string>en</string>
		</dict>
	</array>
</dict>
</plist>
